.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: minhaAnimacao;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes minhaAnimacao {
    0% {
        transform: translateX(0%);
        background-color: blueviolet;
    }

    50% {
        transform: translateX(100%);
        background-color: brown;
    }

    100% {
        transform: translateX(0%);
        background-color: yellow;
    }
}