.botao {
    text-decoration: none;
    background-color: tomato;
    width: 100px; /* width: é utilizado para definir a largura do elemento */
    height: 30px; /* height: é utilizar para definir a altura do elemento */
    text-align: center;
    display: inline-block; /* nos próximos capítulos */
    color: black;
}
.botao:hover { /* hover é o evento de passar com o mouse por cima do elemento */
    background-color: red;
    opacity: 0.9;  /* alterar a opacidade cor de fundo do botão para 90% */ 
}
.negrito{
    font-weight: bold;
}

.largura-150{
    width: 150px;
}