.skew {
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: transform 2s ease-in;
}

.skew:hover {
    transform: skew(20deg, 10deg);
    /* Inclina 20 graus no eixo x e 10 graus no eixo y*/
}